---
const span_under = "text-blue-500 underline underline-offset-4";
const p = "leading-relaxed text-gray-800";
const heading = "text-3xl font-bold";
---

<section class="flex flex-col gap-5">
 <h2 class={heading}>КАК ЭТО РАБОТАЕТ</h2>
 <p class={p}>
  Редко кто из тех, кто прошел по нашему пути, терпит неудачу. Те, кто не выздоравливает,
  - это люди, которые не могут или не хотят полностью отдаться этой простой программе,
  обычно [люди], которые по своей конституции не способны быть честными с собой. Такие
  несчастные есть. Они не виноваты, они, видимо, такими родились. Они от природы не
  способны усвоить и выработать образ жизни, требующий строгой честности. Их шансы меньше
  средних. Есть и те, кто страдает от серьезных эмоциональных и психических расстройств,
  но многие из них выздоравливают, если у них есть способность быть честными.
 </p>

 <p class={p}>
  Наши истории в общих чертах рассказывают о том, какими мы были раньше, что произошло и
  каковы мы сейчас. Если вы решили, что хотите получить то, что есть у нас, и готовы пойти
  на все, чтобы добиться этого, - значит, вы готовы сделать определенные шаги.
 </p>

 <p class={p}>
  На некоторые из них мы не решались. Мы думали, что найдем более легкий и мягкий путь. Но
  не нашли. Со всей искренностью, на которую мы способны, мы просим вас быть бесстрашными
  и основательными с самого начала. Некоторые из нас пытались держаться за свои старые
  идеи, и результат был нулевым, пока мы не отпустили их окончательно.
 </p>

 <p class={p}>
  Помните, что мы имеем дело с алкоголем [медиазависимостью] - коварным, запутанным,
  мощным! Без посторонней помощи это слишком сложно для нас. Но есть Тот, Кто обладает
  всей полнотой власти, - это Бог. Пусть вы найдете Бога сейчас!
 </p>

 <p class={p}>
  Полумеры не помогли нам. Мы стояли на переломном этапе. Мы просили у Бога защиты и
  заботы с полной самоотдачей.
 </p>
 <p class={p}>
  <span class={span_under}>
   Вот шаги, которые мы предприняли и которые предлагаются в качестве программы
   выздоровления:
  </span>
 </p>

 <h2 class={heading}>12 шагов Анонимных Медиа Зависимых</h2>
 <ol class="list-decimal list-inside flex flex-col gap-3">
  <li>Мы признали, что бессильны перед медиа, что наша жизнь стала неуправляемой.</li>
  <li>
   Пришли к вере в то, что Сила, превосходящая нас самих, может вернуть нас к здравому
   смыслу.
  </li>
  <li>
   Приняли решение отдать свою волю и свою жизнь на попечение Бога, как мы его понимаем.
  </li>
  <li>Провели тщательную и бесстрашную нравственную инвентаризацию самих себя.</li>
  <li>Признали перед Богом, перед собой и перед другим человеком все свои ошибки.</li>
  <li>Были полностью готовы к тому, чтобы Бог устранил все эти недостатки характера.</li>
  <li>Смиренно просили Бога устранить наши недостатки.</li>
  <li>
   Составили список всех людей, которым мы причинили вред, и выразили готовность загладить
   свою вину перед всеми ними.
  </li>
  <li>
   По возможности напрямую заглаживал свою вину перед такими людьми, за исключением тех
   случаев, когда это могло бы навредить им или другим.
  </li>
  <li>
   Продолжал проводить личную инвентаризацию и, когда был неправ, сразу же признавал это.
  </li>
  <li>
   Стремился через молитву и медитацию улучшить сознательный контакт с Богом, как мы его
   понимаем, молясь только о знании воли Бога для нас и силе для ее исполнения.
  </li>
  <li>
   Получив в результате этих шагов духовное пробуждение, мы старались донести это послание
   до других медиазависимых и применять эти принципы во всех своих делах.
  </li>
 </ol>

 <h2 class={heading}>Двенадцать Традиций Анонимных Медиа Зависимых</h2>
 <ol class="list-decimal list-inside flex flex-col gap-3">
  <li>
   Наше общее благополучие должно быть на первом месте; личное выздоровление зависит от
   единства MAA.
  </li>
  <li>
   Для нашей групповой цели есть только один высший авторитет - любящий Бог, выраженный в
   нашей групповой совести. Наши лидеры - лишь доверенные слуги; они не управляют.
  </li>
  <li>
   Единственным условием членства в MAA является желание отказаться от компульсивного
   использования медиа.
  </li>
  <li>
   Каждая группа должна быть автономной, за исключением вопросов, затрагивающих другие
   группы или MAA в целом.
  </li>
  <li>
   У каждой группы есть только одна основная цель - донести свою идею до тех, кто все еще
   страдает от медиазависимости.
  </li>
  <li>
   Группа MAA никогда не должна поддерживать, финансировать или давать имя MAA какому-либо
   связанному с ней учреждению или стороннему предприятию, чтобы проблемы денег,
   собственности и престижа не отвлекали нас от нашей главной цели.
  </li>
  <li>
   Каждая группа MAA должна находиться на полном самообеспечении, отказываясь от внешних
   пожертвований.
  </li>
  <li>
   Анонимные Медиазависимые должны навсегда остаться непрофессиональными, но в наших
   сервисных центрах могут работать специальные сотрудники.
  </li>
  <li>
   MAA, как таковая, не должна быть организована, но мы можем создавать советы или
   комитеты по обслуживанию, непосредственно ответственные перед теми, кого они
   обслуживают.
  </li>
  <li>
   МАА не имеет своего мнения по внешним вопросам, поэтому название MAA никогда не должно
   втягиваться в общественные споры.
  </li>
  <li>
   Наша политика по связям с общественностью основана на привлечении, а не на продвижении;
   мы всегда должны сохранять личную анонимность на уровне прессы, радио и кино.
  </li>
  <li>
   Анонимность является духовной основой всех наших Традиций, постоянно напоминая нам о
   необходимости ставить принципы выше личностей.
  </li>
 </ol>
 <p class="text-gray-400 italic">
  Двенадцать Шагов и Двенадцать Традиций Анонимных Алкоголиков были перепечатаны и
  адаптированы с разрешения Alcoholics Anonymous World Services, Inc. ("A.A.W.S.").
  Разрешение на перепечатку и адаптацию "Двенадцати шагов" и "Двенадцати традиций" не
  означает, что "Анонимные алкоголики" аффилированы с этой программой. А.А. является
  исключительно программой выздоровления от алкоголизма - использование Шагов А.А. или их
  адаптированной версии в связи с программами и мероприятиями, построенными по образцу
  А.А., но направленными на решение других проблем, или использование в любом другом
  контексте, не связанном с А.А., не подразумевает обратного.
 </p>
</section>
