---
import { Image } from "astro:assets";
import img from "../../assets/index-img.jpeg";
import img2 from "../../assets/index-img1.jpeg";
const span_under = "text-blue-500 underline underline-offset-4";
const p = "leading-relaxed text-gray-800";
const heading = "text-3xl font-bold";
---

  <section class="flex flex-col md:flex-row items-center gap-14">
   <div class="flex flex-col gap-5">
    <h4 class={heading}>ВЫ НЕ ОДИНОКИ 🫂</h4>
    <p class={p}>Мы очень рады, что вы нашли нас 🤩</p>
    <p class={p}>
     Как и вы, мы искали выход из медийного безумия. Мы пробовали одну стратегию за
     другой, пытаясь излечиться от медиазависимости, но все время возвращались к
     компульсивному поведению, вызванному медиапьянством.
    </p>
    <h4 class="text-3xl">И тогда мы нашли решение ☝</h4>
    <p class={p}>
     Осознав, что медиазависимость подобна алкогольной или наркотической зависимости, мы
     начали применять проверенные временем инструкции, изложенные основателями <b
      >Анонимных Алкоголиков</b
     > в их книге.
    </p>
    <p class={p}>
     <span class={span_under}>
      Вот что мы стали делать в качестве программы избавления от медиазависимости.</span
     >
    </p>
   </div>
   <div class="hidden md:flex flex-wrap flex-col gap-4">
    <Image
     class="rounded-lg max-w-sm"
     src={img}
     alt=""
     format={"avif"}
     quality={"high"}
    />
    <Image
     class="rounded-lg max-w-sm"
     src={img2}
     alt=""
     format={"avif"}
     quality={"high"}
    />
   </div>
  </section>